<app />
<noscript>
	<h1>Librecast LIVE!</h1>

	<p>Or rather, not in your case... Sorry!</p>

	<p>Unfortunately this application requires javascript to function and your browser doesn't have this enabled.  You won't be able to use the web version of Librecast Live without a javascript-enabled browser.</p>

	<p>Rest assured, we do care a lot about accessibility, and the developers recognise there's a lot more to the Internet than merely the web. We intend to provide a non-web application that you can use without a web browser, or javascript.</p>

	<p>Watch this space!  Or better yet, watch once of our social media channels to keep up with all the latest Librecast Project news.</p>

	<ul>
		<li><a href="https://chaos.social/web/accounts/329914">Mastodon</a>
		<li><a href="https://twitter.com/librecast">Twitter</a>
	</ul>
</noscript>
